## Transform data -- categories to numbers

In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('../')

input_path = '../data/data.csv'
output_path = '../data/original_data.csv'

First check what is actually in the data file with pandas

In [2]:
import pandas as pd

df = pd.read_csv(input_path)
df.head(5)

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
0,1,2015-11-09 14:26:51,MX,mccredit,530056.0,64800.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-01 23:03:11,MexicoAccount,email68370,ip111778,card184798
1,2,2015-11-09 14:27:38,MX,mccredit,547046.0,44900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 04:50:55,MexicoAccount,email101299,ip78749,card151595
2,3,2015-11-23 16:34:16,MX,mccredit,528843.0,149900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 14:30:28,MexicoAccount,email278604,ip70594,card242142
3,4,2015-11-23 16:34:51,MX,mccredit,547146.0,109900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-03 07:53:37,MexicoAccount,email47409,ip113648,card181744
4,5,2015-11-09 14:26:08,MX,visaclassic,477291.0,89900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 18:35:35,MexicoAccount,email205501,ip83553,card97271

Now transform the categories to number and check if results are sort of the same

In [10]:
from src import preprocess

preprocess.cat_to_number(input_path, output_path)

Total transcations: 236698
Total unique cards (also printed in TA script): 210542
Writing
Done writing -- output file: ../data/original_data.csv

True

In [11]:
df_transformed = pd.read_csv(output_path)
df_transformed.head(5)

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,cardverificationcodesupplied,cvcresponsecode,creationdate,createdate_stamp,accountcode,mail_id,ip_id,card_id,label
0,1,1.447076e+09,88,10,530056.0,64800.0,1,107,0,2,0,2015-7-1,1.435785e+09,3,68370,111778,184798,1
1,10,1.447076e+09,88,10,549138.0,99900.0,1,107,0,2,0,2015-7-11,1.436601e+09,3,182966,113025,160922,1
2,100,1.447076e+09,88,10,549138.0,79900.0,1,107,0,2,0,2015-9-19,1.442630e+09,3,222155,111631,174087,1
3,100618,1.438244e+09,102,12,476358.0,7095.0,0,122,0,2,1,2015-7-4,1.436018e+09,1,132088,269934,165881,1
4,101,1.447076e+09,88,12,421316.0,99900.0,1,107,0,2,0,2015-9-19,1.442634e+09,3,13251,69300,216473,1

Check the sizes of the data frames

In [9]:
print(df.size)
print(df_transformed.size)

4936494
4260564