## Transform data -- categories to numbers

In [2]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('../')

input_path = '../data/data.csv'
output_path = '../data/transformed_data.csv'

import pandas as pd

First check what is actually in the data file with pandas

In [3]:
df = pd.read_csv(input_path)
df.head(10)

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
0,1,2015-11-09 14:26:51,MX,mccredit,530056.0,64800.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-01 23:03:11,MexicoAccount,email68370,ip111778,card184798
1,2,2015-11-09 14:27:38,MX,mccredit,547046.0,44900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 04:50:55,MexicoAccount,email101299,ip78749,card151595
2,3,2015-11-23 16:34:16,MX,mccredit,528843.0,149900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 14:30:28,MexicoAccount,email278604,ip70594,card242142
3,4,2015-11-23 16:34:51,MX,mccredit,547146.0,109900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-03 07:53:37,MexicoAccount,email47409,ip113648,card181744
4,5,2015-11-09 14:26:08,MX,visaclassic,477291.0,89900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 18:35:35,MexicoAccount,email205501,ip83553,card97271
5,6,2015-11-09 14:26:25,MX,visaclassic,493161.0,79900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 23:04:26,MexicoAccount,email243511,ip112410,card159816
6,7,2015-11-09 14:26:47,MX,visaclassic,477291.0,69900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 02:31:36,MexicoAccount,email137086,ip83481,card251249
7,8,2015-11-23 16:34:29,MX,mccredit,520416.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 04:56:48,MexicoAccount,email295644,ip66704,card70297
8,9,2015-12-08 19:58:35,MX,visaclassic,477291.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 22:55:40,MexicoAccount,email115605,ip68088,card39791
9,10,2015-11-09 14:25:50,MX,mccredit,549138.0,99900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-11 09:44:14,MexicoAccount,email182966,ip113025,card160922

Now transform the categories to number and check if results are sort of the same

In [8]:
from src import preprocess

df_read = preprocess.parse_data(input_path)
df_read.head(10)

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
0,1,2015-11-09 14:26:51,MX,mccredit,530056.0,64800.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-01 23:03:11,MexicoAccount,email68370,ip111778,card184798
1,2,2015-11-09 14:27:38,MX,mccredit,547046.0,44900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 04:50:55,MexicoAccount,email101299,ip78749,card151595
2,3,2015-11-23 16:34:16,MX,mccredit,528843.0,149900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 14:30:28,MexicoAccount,email278604,ip70594,card242142
3,4,2015-11-23 16:34:51,MX,mccredit,547146.0,109900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-03 07:53:37,MexicoAccount,email47409,ip113648,card181744
4,5,2015-11-09 14:26:08,MX,visaclassic,477291.0,89900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 18:35:35,MexicoAccount,email205501,ip83553,card97271
5,6,2015-11-09 14:26:25,MX,visaclassic,493161.0,79900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 23:04:26,MexicoAccount,email243511,ip112410,card159816
6,7,2015-11-09 14:26:47,MX,visaclassic,477291.0,69900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 02:31:36,MexicoAccount,email137086,ip83481,card251249
7,8,2015-11-23 16:34:29,MX,mccredit,520416.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 04:56:48,MexicoAccount,email295644,ip66704,card70297
8,9,2015-12-08 19:58:35,MX,visaclassic,477291.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 22:55:40,MexicoAccount,email115605,ip68088,card39791
9,10,2015-11-09 14:25:50,MX,mccredit,549138.0,99900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-11 09:44:14,MexicoAccount,email182966,ip113025,card160922

In [12]:
df_transformed = preprocess.category_to_number(df_read)
df_transformed.head(10)

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
0,1,2015-11-09 14:26:51,76,2,530056.0,64800.0,2,98,1,Chargeback,1,0,2015-07-01 23:03:11,1,email68370,ip111778,card184798
1,2,2015-11-09 14:27:38,76,2,547046.0,44900.0,2,98,1,Chargeback,1,0,2015-07-02 04:50:55,1,email101299,ip78749,card151595
2,3,2015-11-23 16:34:16,76,2,528843.0,149900.0,2,98,1,Chargeback,1,0,2015-07-02 14:30:28,1,email278604,ip70594,card242142
3,4,2015-11-23 16:34:51,76,2,547146.0,109900.0,2,98,1,Chargeback,1,0,2015-07-03 07:53:37,1,email47409,ip113648,card181744
4,5,2015-11-09 14:26:08,76,6,477291.0,89900.0,2,98,1,Chargeback,1,0,2015-07-08 18:35:35,1,email205501,ip83553,card97271
5,6,2015-11-09 14:26:25,76,6,493161.0,79900.0,2,98,1,Chargeback,1,0,2015-07-08 23:04:26,1,email243511,ip112410,card159816
6,7,2015-11-09 14:26:47,76,6,477291.0,69900.0,2,98,1,Chargeback,1,0,2015-07-09 02:31:36,1,email137086,ip83481,card251249
7,8,2015-11-23 16:34:29,76,2,520416.0,129900.0,2,98,1,Chargeback,1,0,2015-07-09 04:56:48,1,email295644,ip66704,card70297
8,9,2015-12-08 19:58:35,76,6,477291.0,129900.0,2,98,1,Chargeback,1,0,2015-07-09 22:55:40,1,email115605,ip68088,card39791
9,10,2015-11-09 14:25:50,76,2,549138.0,99900.0,2,98,1,Chargeback,1,0,2015-07-11 09:44:14,1,email182966,ip113025,card160922